{{title}}
<div class="box">
    <center><h1> Mission Statement:</h1></center>

    <h2> Goal is to help individuals understand the cryptocurrency space and where it's moving.</h2></div>


<div class="box">
    <center><h1> Recent ICO reviews</h1></center>
    <center><h2> Bitcoin</h2></center>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/6Bg7qH5E6QA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>

</div>

<div class="box">

    <h6 style="text-align: center; margin-top: 40vh;"> Disclaimer </h6>

    <h6> The ideas proposed and opinions established in the videos are not investment advice. Please seek advice
        professional managers before making investment decisions. </h6></div>


